<style>
    .table td, .table th {
        padding: 0.95rem !important;
        font-size: small;
    }
    .right-panel {
        background-color: #fff;
    }
</style>

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/admin"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> <i class="menu-icon fa fa-users"></i>USERS</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-user-circle-o"></i><a href='/admin/users'>Users List</a></li>
                        <li><i class="menu-icon fa fa-star"></i><a href="#">Users Review</a></li>
                    </ul>
                </li>
                  <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> <i class="menu-icon fa fa-first-order"></i>ORDERS</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-table"></i><a href="/admin/view-order">All orders</a></li>
                    </ul>
                </li>
                 <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> <i class="menu-icon fa fa-product-hunt"></i>PRODUCTS</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bars"></i><a href='/admin/add-product'>Add products</a></li>
                        <li><i class="fa fa-bars"></i><a href="/admin/view-product">View all Products</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> <i class="menu-icon fa fa-product-hunt"></i>CATEGORY</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bars"></i><a href='/admin/add-category'>Add Category </a></li>
                        <li><i class="fa fa-bars"></i><a href='/admin/view-category'>View Category </a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> <i class="menu-icon fa fa-product-hunt"></i>SUB CATEGORY</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bars"></i><a href='/admin/add-subcategory'>Add SubCategory </a></li>
                        <li><i class="fa fa-bars"></i><a href='/admin/view-subCategory'>View SubCategory</a></li>
                    </ul>
                </li>
               
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> <i class="menu-icon fa fa-product-hunt"></i>BANNER</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bars"></i><a href='/admin/addBanner'>Add Banner</a></li>
                        <li><i class="fa fa-bars"></i><a href='/admin/banners'>Banner management</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> <i class="menu-icon fa fa-ticket"></i>COUPONS</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bars"></i><a href='/admin/addCoupon'>Add Coupon</a></li>
                        <li><i class="fa fa-bars"></i><a href='/admin/coupons'>View Coupons</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> <i class="menu-icon fa fa-user"></i>ACCOUNT</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-sign-out"></i><a href="/admin/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</aside>

<section style="width: 500px;">
    <div class="container" style="width: 100%;">
        <table id="orderTable" class="border rounded border-secondary table mt-5" style="width: 100%;">
            <thead class="table-dark ">
                <tr>
                    <th scope="col">DATE</th>
                    <th scope="col">IMAGE</th>
                    <th scope="col">PRODUCT NAME</th>
                    <th scope="col">CATEGORY</th>
                    <th scope="col">SUB CATEGORY</th>
                    <th scope="col">QUANTITY</th>
                    <th scope="col">ADDRESS</th>
                    <th scope="col">AMOUNT</th>
                    <th scope="col">PAYMENT</th>
                    <th scope="col">STATUS</th>
                </tr>
            </thead>
            <tbody>
                {{#each orderIteam}}
                <tr>
                    <td>{{this.date}}<br>{{this.time}}</td>
                    <td><img src="/uploads/{{this.image.[0]}}" alt="Loading"></td>
                    <td>{{this.product_name}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.sub_category}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.deliveryDetails.name}}<br>
                        {{this.deliveryDetails.building_name}}<br>
                        {{this.deliveryDetails.street_name}}</td>
                    <td>{{this.totalAmount}}</td>
                    <td>{{this.payment}}</td>
                     <td>
                        <button type="button" class="btn btn-secondary" onclick="changeStatus('{{this._id}}','{{this.productId}}','{{this.status}}')" data-toggle="modal" data-target="#exampleModal">
                            {{this.status}}
                        </button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="changeStatus"
                                            onsubmit="changeDeliveryStatus()">
                                            <select name="delivery" id="change" onchange="changeDelivery()">
                                                <option id="basi" value=""></option>
                                                <option value="packed">Packed</option>
                                                <option value="shipped">Shipped</option>
                                                <option value="delivered">Delivered</option>
                                            </select>
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    </div>
</section>


<script>
var orderId = ""
var productId = ""
var status = ""

function changeStatus(order,product,st) {
    console.log(order,product)
     orderId = order
     productId = product
     status = st
    
    document.getElementById('basi').innerText = st
}

function getStatus() {
    return status
}

function changeDelivery() {
    const select = document.getElementById('change')
    status = select.value
}
    function changeDeliveryStatus() {
        $.ajax({
            url: '/admin/changeDeliveryStatus',
            method: 'post',
            data: {orderId,productId,status},
            success: (response) => {
                location.reload()
            }
        })
    }
</script>
                   